<h1>Студенти групи</h1>


<h2>Додати студента</h2>

<input
  type="text"
  placeholder="Ім'я"
  [(ngModel)]="newName"
>

<input
  type="number"
  placeholder="Вік"
  [(ngModel)]="newAge"
>

<input
  type="number"
  placeholder="Середня оцінка"
  [(ngModel)]="newGrade"
>

<button
  (click)="addStudent()"
  [disabled]="!newName"
>
  Додати студента
</button>


<hr>


<div *ngFor="let student of students; let i = index">

  <h2>{{ student.name }}</h2>

  <p>Вік: {{ student.age }}</p>

  <p
    [ngClass]="{
      'high': student.grade >= 10,
      'medium': student.grade >= 7 && student.grade <= 9,
      'low': student.grade <= 6
    }"
  >
    Середня оцінка: {{ student.grade }}
  </p>

  <p *ngIf="student.grade >= 10">
    Відмінний результат
  </p>

  <button (click)="deleteStudent(i)">
    Видалити
  </button>

  <hr>

</div>


<h3>Всього студентів: {{ students.length }}</h3>